{% extends 'common/base.html' %}

{% block content %}
<main>
    {% for genre, games in games_by_genre.items %}
        <h2>{{ genre }}</h2>
        <div class="video-games">
            {% if games %}
                {% for game in games %}
                    <a href="{% url 'details-video-game' game.id %}">
                    <div class="movie">
                        <img class="poster" src="{{ game.poster.url }}" alt="{{ game.title }} Poster">
                        <h3>{{ game.title }}</h3>
                        {% if game.average_rating %}
                            <p>Rating: {{ game.average_rating }} <i class="fa-solid fa-star"></i></p>
                        {% else %}
                            <p>Not reviewed yet.</p>
                        {% endif %}
                    </div>
                    </a>
                {% endfor %}
            {% else %}
                <h4 class="no-content">No {{ genre }} games yet.</h4>
            {% endif %}
        </div>
    {% endfor %}
</main>
{% endblock %}
