{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="https://kit.fontawesome.com/5aadc520af.js" crossorigin="anonymous"></script>
    <title>Straight Rate</title>
</head>
<body>
    <header>
        <div id="head-1">
            <a href="{% url 'home' %}"><img id="logo" src="{% static 'images/logo_SR_transparent.png' %}" alt="logo"></a>
            <ul>
                <li><a href="{% url 'movie-dashboard' %}">Movies</a></li>
                <li><a href="{% url 'video-games-dashboard' %}">Video Games</a></li>
            </ul>
        </div>
        <div id="head-2">
            <ul>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Log in</a></li>
            </ul>
        </div>
    </header>
    <div id="wrapper-main">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 StraightRate. You have your rights.</p>
    </footer>
</body>
</html>
