{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <main>
        <h2>Video games by {{ developer.developer_name }}</h2>
        {% if developer.website %}
            <h6><p>Website: </p>
                <a href="{{ developer.website }}">{{ developer.website }}</a>
            </h6>
        {% endif %}
        <div class="video-games">
            {% for game in games %}
                <a href="{% url 'details-video-game' game.id %}">
                    <div class="game">
                        <img class="poster" src="{{ game.poster.url }}" alt="{{ game.title }} Poster">
                        <h3>{{ game.title }}</h3>
                        <p>{{ game.average_rating }}<i class="fa-solid fa-star"></i></p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </main>
{% endblock %}
