{% extends 'common/base.html' %}

{% block content %}

{% load static %}
<main>
    <h2>Top Movies</h2>
    <div class="top-movies">
        {% for movie in top_movies %}
        <div class="movie">
            <img class="poster" src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster">
            <a href="{% url 'details-movie' movie.id %}"><h3>{{ movie.title }}</h3></a>
            <p>{{ movie.average_rating }}<i class="fa-solid fa-star"></i></p>
        </div>
        {% endfor %}
    </div>
    <h2>Top Video Games</h2>
    <div class="top-video-games">
        {% for game in top_games %}
        <div class="game">
            <img class="poster" src="{{ game.poster.url }}" alt="{{ game.title }} Poster">
            <a href="{% url 'details-video-game' game.id %}"><h3>{{ game.title }}</h3></a>
            <p>{{ game.average_rating }}<i class="fa-solid fa-star"></i></p>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}