{% extends 'common/base.html' %}

{% block content %}
{% load static %}
    <main>
        <h2>Top Movies</h2>
        <div class="top-movies">
            <div class="movie">
                <img class="poster" src="{% static 'images/SW-ep_1_poster.png' %}" alt="Star Wars">
                <a href="#"><h3>Star Wars Ep.1</h3></a>
                <p>3.8<i class="fa-solid fa-star"></i></p>
            </div>
            <div class="movie">
                <img class="poster" src="{% static 'images/nope_poster.png' %}" alt="Nope">
                <a href="#"><h3>Nope</h3></a>
                <p>4.5<i class="fa-solid fa-star"></i></p>
            </div>
        </div>
        <h2>Top Video Games</h2>
        <div class="top-video-games">
            <div class="game">
                <img class="poster" src="{% static 'images/cyberpunk_poster.png' %}" alt="Cyberpunk">
                <a href="#"><h3>Cyberpunk</h3></a>
                <p>4.0<i class="fa-solid fa-star"></i></p>
            </div>
        </div>
    </main>
{% endblock %}